[submodule "workers/_common"]
	path = workers/_common
	url = https://github.com/HyperFund-AI/cloudflare-worker-common.git
[submodule "common"]
	path = common
	url = https://github.com/HyperFund-AI/hiai-node-common.git
